*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{
--bg:#07090d;
--panel:#0f131a;
--panel2:#151b24;
--border:rgba(255,255,255,.06);
--text:#fff;
--muted:#8b95a7;
--blue:#3b82f6;
--red:#ff4d4f;
}

body{
font-family:'Inter',sans-serif;
background:var(--bg);
color:var(--text);
overflow-x:hidden;
}

.noise{
position:fixed;
inset:0;
pointer-events:none;
background:
radial-gradient(circle at top left,rgba(59,130,246,.15),transparent 30%),
radial-gradient(circle at bottom right,rgba(255,77,79,.08),transparent 30%);
z-index:-1;
}

button,
input,
select{
font-family:'Inter',sans-serif;
}

input,
select{
outline:none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill{

-webkit-text-fill-color:white;

-webkit-box-shadow:
0 0 0px 1000px #151b24 inset;

transition:
background-color 9999s ease-in-out 0s;

caret-color:white;

}

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#0b0f15;
}

::-webkit-scrollbar-thumb{
background:#1f2937;
border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
background:#374151;
}
