*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{

--bg:#07090d;

--panel:#11161f;

--panel2:#151b24;

--border:
rgba(255,255,255,.06);

--text:#fff;

--muted:#8b95a7;

--blue:#377dff;

}

body{

font-family:'Inter',sans-serif;

background:var(--bg);

color:white;

overflow-x:hidden;

}

/* =========================
BACKGROUND
========================= */

.noise{

position:fixed;

inset:0;

pointer-events:none;

background:

radial-gradient(
circle at top left,
rgba(55,125,255,.16),
transparent 28%
),

radial-gradient(
circle at bottom right,
rgba(55,125,255,.08),
transparent 30%
),

radial-gradient(
circle at center,
rgba(55,125,255,.04),
transparent 45%
);

z-index:-1;

}

/* =========================
INPUTS
========================= */

button,
input,
select{

font-family:'Inter',sans-serif;

}

input,
select{

outline:none;

}

/* =========================
AUTOFILL
========================= */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill{

-webkit-text-fill-color:white;

-webkit-box-shadow:
0 0 0px 1000px #151b24 inset;

transition:
background-color 9999s ease-in-out 0s;

caret-color:white;

}

/* =========================
SCROLLBAR
========================= */

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#0b0f15;
}

::-webkit-scrollbar-thumb{

background:#1f2937;

border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{
background:#374151;
}
